<div class="col-sm-3 col-12" style="padding: 0px 10px;">
    <div class="col-12 search-bar form-group row">
        <div class="col-8">
            <input type="text" class="form-control" id="keyword" placeholder="请输入关键字" onkeydown="doSearch(event)"/>
        </div>
        <div class="col-4" style="text-align:right;">
            <button type="button" class="btn btn-primary" onclick="doSearch()">搜索</button>
        </div>
    </div>

    <div class="col-12 side">
        <div class="tip">最新文章</div>
        <ul id="last"></ul>
    </div>

    <div class="col-12 side">
        <div class="tip">特别推荐</div>
        <ul id="recommended"></ul>
    </div>
</div>
<script type="text/javascript">
    function truncate(headline,length)
    {
        for(let i=0;i<headline.length;i++)
        {
            {#console.log(headline[i])#}
            console.log(headline[i].charCodeAt())
        }
        var count = 0
        var news = ''
        for (var i in headline)
        {
            news +=headline.charAt(i)
            var code = headline.charCodeAt(i)
            if (code<=128)
            {
                count+=0.5
            }else
            {
                count+=1
            }
            if(count>length)
            {
                break
            }
        }
        return news+"...."
    }

    function doSearch(e) {
        {#alert(e.keyCode)#}
        if (e != null && e.keyCode != 13) {
            return false
        }

        keyword = $.trim($("#keyword").val())
        if (keyword.length == 0 || keyword.length > 10 || keyword.indexOf('%') >= 0) {
            {#window.alert("你搜索的关键字不合法")#}
            bootbox.alert("你搜索的关键字不合法")
            $("#keyword").focus()
            return false
        }
        location.href = '/search/1-' + keyword
    }

    $(document).ready(function () {
        // 发送Ajax请求去访问recommend 获取json数据
        $.get('/recommend', function (data) {
            var lastData = data[0];
            var recommendedData = data[1];
            for (var i in lastData) {
                var articleid = lastData[i]['articleid'];
                var headline = lastData[i]['headline'];
                var id = parseInt(i) + 1;
                // 通过元素的append方法为其添加内容，为<ul>添加<li>列表项
                $("#last").append('<li><a href="/article/' + articleid + '">' + id + '.&nbsp;&nbsp;' + truncate(headline,14) + '...</a></li>');
            }
            for (var i in recommendedData) {
                var articleid = recommendedData[i]['articleid'];
                var headline = recommendedData[i]['headline'];
                var id = parseInt(i) + 1;
                // 通过元素的append方法为其添加内容，为<ul>添加<li>列表项
                $("#recommended").append('<li><a href="/article/' + articleid + '">' + id + '.&nbsp;&nbsp;' + truncate(headline,14) + '...</a></li>');
            }
        })
    })

</script>